.Pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.Button {
    margin: 5px;
    background-color: #262A41;
    padding: 7px;
    width: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Button:active {
    border: none;
    outline: none;
}

.Disabled {
    background-color: #E2E2EA;
    margin: 5px;
    padding: 7px;
    width: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
}